{%- set basename = __config('name') -%}
<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}"/>
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}?v=1.1"/>
 		{%- block style -%}{%- endblock -%}
		<title>{{ __(basename) }}{%- if title -%}{{ ': ' + title }}{%- endif -%}</title>
		<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
		{%- block script -%}{%- endblock -%}
	</head>
	<body style="background: transparent;">
		<div class="container-fluid">
			<div class="row">
				{%- block content -%}{%- endblock -%}
			<div>
		</div>
    {%- block body_script -%}{%- endblock -%}
	</body>
</html>
